$bgc: #282828;
$fontc: #e4e6eb;
$btn: #773cd6;
$btn-hover: #6338a8;
$btn-active: #502e87;
$fo-co: #3d3d3d;
$fo-coh: #4d4d4d;
$body-bg: 	#181818;
$body-font: #e4e6eb;

body {
    background-color: $body-bg;
    color: $body-font;
}
thead > tr > th,td {
    color: $fontc !important;
    background-color: $bgc !important;
}

tbody > tr > td{
    color: $fontc !important;
    background-color: $bgc !important;
}

.btn-primary {
    background-color: $btn;
    border-color: $btn;
}

.btn-primary:hover {
    background-color: $btn-hover;
    border-color: $btn-hover;
}
.btn-primary:active {
    background-color: $btn-active !important;
    border-color: $btn-active !important;
}
.btn-primary:focus {
    background-color: $btn-active !important;
    border: none !important;
}
.btn-outline-primary {
    border-color: $btn;
    color: $btn;
}
.btn-outline-primary:hover {
    background-color: $btn;
    border-color: $btn;
    color: $body-font;
}
.btn-outline-primary:active:focus {
    background-color: $btn;
    border-color: $body-font;
    color: $body-font;
}
.form-control {
    background-color: $fo-co;
    color: $fontc;
}
.form-control::placeholder {
    color: #7d7d7d;
}
.form-control:hover {
    background-color: $fo-coh;
    color: $fontc;
}
.form-control:focus {
    background-color: $fo-co !important;
    color: $fontc !important;
    border-color: $fontc;
    box-shadow: 0px 0px 15px 3px rgba(80, 46, 135, 3);
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: $fo-co;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #737272;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}
.TablesWrapper {
    display: grid;
    gap: 1.5rem;
    margin: 1.5rem;
    margin-bottom: none;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 19.7rem 26.8rem;
}
.RecordsTable, .UserTable, .StatisticTable {
    flex: 1 1 auto;
    border: 1px solid $fontc;
}
.StatisticTable {
    height: 100% !important;
}
.RecordsTable, .StatisticTable {
    width: 100% !important;
    overflow: auto;
}